/* ユニバーサルリセッティング */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /* レスポンシブ対応を楽にするためにデフォルトフォントサイズを元にremでフォントサイズやパディング等を設定する方針とする。
    そのため、pd2remの計算がしやすいように、デフォルトフォントサイズを10pxとする。
    しかし、フォントサイズのpx指定はユーザーの設定を上書きしフォントサイズを固定してしまうためパーセント表記としたい。。（目が悪いユーザーはデフォルトフォントサイズを大きくしている場合がある）
    16px:100% = 10px:62.5%であることから62,5を指定。 */
}

body {
    box-sizing: border-box;
}
